body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    text-align: center;
    max-width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #4e7f0e;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

/* Correção da consulta de mídia */
@media (max-width: 768px) {
    main {
        max-width: 100%;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
